extends layouts/default

-title = 'welcome to simple origins.'

block content
  
  .well
    h1 Bootstrap starter template
    p.lead
      | Use this document as a way to quickly start any new project.
      br
      |  All you get is this text and a mostly barebones HTML document.
      br
      | This is how I do things.